prefix_namespace: conference
ci_cd_namespace: '{{ prefix_namespace }}-ci-cd'
test_namespace: '{{ prefix_namespace }}-test'
dev_namespace: '{{ prefix_namespace }}-dev'

openshift_templates_raw: "https://raw.githubusercontent.com/redhat-cop/openshift-templates"
openshift_templates_raw_version_tag: "v1.4.12"
cop_quickstarts: "https://github.com/redhat-cop/containers-quickstarts.git"
cop_quickstarts_raw: "https://raw.githubusercontent.com/redhat-cop/containers-quickstarts"
cop_quickstarts_raw_version_tag: "v1.19"
containers_repo: "https://github.com/open-source-publications/containers-repo.git"
containers_repo_version_tag: "v1.3"

ci_cd:
  NAMESPACE: "{{ ci_cd_namespace }}"
  NAMESPACE_DISPLAY_NAME: "{{ ci_cd_namespace }}"
  SECRET_NAME: "ci-cd-secret"

dev:
  NAMESPACE: "{{ dev_namespace }}"
  NAMESPACE_DISPLAY_NAME: "{{ dev_namespace }}"

test:
  NAMESPACE: "{{ test_namespace }}"
  NAMESPACE_DISPLAY_NAME: "{{ test_namespace }}"

edit_role_binding_group:
  GROUP: "conference-ci-cd-contributors"
  ROLE: "{{ role | default('edit') }}"

admin_role_binding_group:
  GROUP: "conference-ocp-devs"
  ROLE: "admin"
